<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style.css">
    <script src="./js/vue.js"></script>
    <script sec="./js/index.js"></script>
</head>
<body>

    <div class="app">
        <div>
            <input type="radio" value="1" v-model="isselect">
            <input type="radio" value="2" v-model="isselect">
            <span>{{isselect}}</span>
        </div>
        <div>
            <input type="checkbox" v-model="ifSelect" true-value="桃子" false-value="梨"><label>{{ifSelect}}</label>
            <!-- <input type="checkbox" v-model="ifSelect"><label>梨</label> -->
        </div>
        <custom :receve="test"></custom>
    </div>

    <script>
        Vue.component('custom',{
            props:['receve'],
            template:`
            <div>
                <div>{{receve.name}}</div>
                <div>{{receve.age}}</div>
            </div>
            
            `
        })

        new Vue({
            el: '.app',
            data:{
                isselect:false,
                ifSelect:false,
                test: {
                    name:'小明',
                    age: '18'
                }
            }
    });
    </script>
</body>
</html>